body {
  background-color: #26262c;
  padding: 0;
  margin: 0;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .container_app {
  width: 100%;
}
body .container_app .wrapper {
  width: 80%;
  margin: 0 auto;
}
body .container_app .wrapper .main_title_container {
  text-align: center;
}
body .container_app .wrapper .container_subtitle {
  text-align: center;
}
body .container_app .wrapper .project_app_screen_keybord {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container_app .wrapper .project_app_screen_keybord .app_screen_keybord_box {
  width: 60%;
  min-height: 250px;
  background-color: #dae2e8;
  border-radius: 5px;
}
body .container_app .wrapper .project_app_screen_keybord .app_screen_keybord_box .input_box {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container_app .wrapper .project_app_screen_keybord .app_screen_keybord_box .input_box input {
  border: 1px solid #ccc;
  width: 94%;
  min-height: 220px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
}
body .container_app .wrapper .project_app_screen_keybord .app_screen_keybord_box .input_box input .input_style {
  color: #333;
}
body .container_app .wrapper .project_app_screen_keybord .app_screen_keybord_box .keybord_box {
  width: 60%;
  background-color: #dae2e8;
  /* Цвет фона контейнера экранной клавиатуры */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body .container_app .wrapper .type_fastening_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body .container_app .wrapper .type_fastening_box .fastening_1 {
  width: 40px;
  height: 3px;
  background-color: #9da3a7;
}
body .container_app .wrapper .type_fastening_box .fastening_2 {
  width: 40px;
  height: 3px;
  background-color: #9da3a7;
}
body .container_app .wrapper .app_keybord_box {
  width: 60%;
  min-height: 250px;
  background-color: #dae2e8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container_app .wrapper .app_keybord_box .keybord_box {
  background-color: #727e87;
  border: 1px solid #ccc;
  width: 94%;
  min-height: 220px;
  border-radius: 3px;
}
body .footer_container {
  padding-top: 40px;
  margin-bottom: 40px;
}
body .footer_container .link_box {
  display: flex;
  justify-content: center;
}
body .footer_container .link_box a.link_pagination_prev {
  width: 112px;
  color: snow;
  font-size: 18px;
  padding: 6px 8px 6px 0;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.3s ease 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
body .footer_container .link_box a.link_pagination_prev span.arrow_left {
  font-size: 17px;
  color: snow;
  margin-right: 5px;
}
body .footer_container .link_box a.link_pagination_prev:hover span.arrow_left {
  color: #ef4f3a;
  padding-right: 6px;
  /* Дополнительный отступ для стрелки */
}
body .footer_container .link_box a.link_pagination_prev:active {
  color: snow;
  font-size: 18px;
  padding: 6px 8px 6px 0;
  border: 1px solid #ef4f3a;
  border-radius: 3px;
  transition: all 0.2s ease;
  text-decoration: none;
}
body .footer_container .link_box a.link_pagination_prev:active span.arrow_left {
  color: snow;
  padding-left: 0;
  /* Дополнительный отступ для стрелки */
}
body .footer_container .link_box span.arrow_left {
  transition: all 0.3s ease;
}
