body {
  background-color: #26262c;
  padding: 0;
  margin: 0;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .container_games {
  width: 100%;
}
body .container_games .wrapper {
  width: 80%;
  margin: 0 auto;
}
body .container_games .wrapper .main_title_container {
  text-align: center;
}
body .container_games .wrapper .container_subtitle {
  text-align: center;
}
body .container_games .wrapper .project_game {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .project_game .games_box {
  width: 40%;
  min-height: 450px;
  background-color: #3b3b65;
  border-radius: 2px;
}
body .container_games .wrapper .project_game .games_box .description_game_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .project_game .games_box .description_game_box p {
  margin: 0;
}
body .container_games .wrapper .project_game .games_box .description_game_box .description_game {
  width: 70%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
body .container_games .wrapper .project_game .games_box .control_game_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container_games .wrapper .project_game .games_box .control_game_box input.input_style {
  font-size: 18px;
  outline: none;
  width: 250px;
  height: 26px;
  padding: 0 5px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  transition: border-color 0.2s ease;
}
@keyframes inputFocus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body .container_games .wrapper .project_game .games_box .control_game_box input:focus {
  border-color: #2fc75d;
  /* Цвет границы при фокусировке */
}
body .container_games .wrapper .project_game .games_box .control_game_box .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2fc75d;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button:hover {
  background-color: #2fc75d;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button:active {
  background-color: #2fc75d;
  color: #c4c4c4;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button.btn_enter {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button.btn_enter:after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  z-index: 0;
  transition: width 0.5s ease, height 0.5s ease;
  transform: translate(-50%, -50%);
}
body .container_games .wrapper .project_game .games_box .control_game_box .button.btn_enter:hover:after {
  width: 0;
  height: 0;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button.btn_enter span {
  position: relative;
  z-index: 1;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e44e3a;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear:hover {
  background-color: #e44e3a;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear:active {
  background-color: #e44e3a;
  color: #c4c4c4;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear.btn_clear {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear.btn_clear:after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  z-index: 0;
  transition: width 0.5s ease, height 0.5s ease;
  transform: translate(-50%, -50%);
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear.btn_clear:hover:after {
  width: 0;
  height: 0;
}
body .container_games .wrapper .project_game .games_box .control_game_box .button_clear.btn_clear span {
  position: relative;
  z-index: 1;
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box .show_result_guesse_sub_box {
  margin-top: 20px;
  width: 250px;
  height: 220px;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.2);
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box .show_result_guesse_sub_box .show_result_guesse {
  width: 80%;
  margin: 0 auto;
  color: #90909b;
  padding-top: 40px;
  text-align: center;
  border-bottom: 1px solid #90909b;
  padding-bottom: 20px;
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box .show_result_guesse_sub_box .entered_numbers_box {
  width: 80%;
  margin: 0 auto;
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box .show_result_guesse_sub_box .entered_numbers_box .entered_numbers {
  width: 80%;
  margin: 0 auto;
  color: #90909b;
  padding-top: 20px;
  text-align: center;
}
body .container_games .wrapper .project_game .games_box .show_result_guesse_box .show_result_guesse_sub_box .entered_numbers_box .show_entered_numbers {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  color: #053ea8;
  padding-top: 10px;
  text-align: center;
}
body .container_games .wrapper .container_subtitle_guesse_cell {
  text-align: center;
}
body .container_games .wrapper .project_game_cell {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .project_game_cell .game_cell_box {
  width: 50%;
  background-color: #41646c;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .description_game_cell_box {
  width: 80%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 50px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .description_game_cell_box p {
  margin: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .description_game_cell_box .description_cell_game {
  width: 80%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box {
  margin-bottom: 20px;
  margin-top: 20px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2fc75d;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start:hover {
  background-color: #2fc75d;
  transition: all 0.2s ease;
  cursor: pointer;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start:active {
  background-color: #2fc75d;
  color: #c4c4c4;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start.btn_enter {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start.btn_enter:after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  z-index: 0;
  transition: width 0.5s ease, height 0.5s ease;
  transform: translate(-50%, -50%);
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start.btn_enter:hover:after {
  width: 0;
  height: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box #start.btn_enter span {
  position: relative;
  z-index: 1;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_start_box .start_active {
  opacity: 0.7;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box {
  margin-bottom: 20px;
  margin-top: 20px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d67b2b;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart:hover {
  background-color: #d67b2b;
  transition: all 0.2s ease;
  cursor: pointer;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart:active {
  background-color: #d67b2b;
  color: #c4c4c4;
  transition: all 0.2s ease;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart.btn_enter {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart.btn_enter:after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  z-index: 0;
  transition: width 0.5s ease, height 0.5s ease;
  transform: translate(-50%, -50%);
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart.btn_enter:hover:after {
  width: 0;
  height: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box #restart.btn_enter span {
  position: relative;
  z-index: 1;
}
body .container_games .wrapper .project_game_cell .game_cell_box .button_restart_box .restart_active {
  opacity: 0.7;
}
body .container_games .wrapper .project_game_cell .game_cell_box .show_timer_box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .show_timer_box .show_timer {
  color: #FFF;
  font-size: 28px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .show_timer_box .active {
  color: red;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box {
  position: relative;
  top: 0;
  left: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_box_congrat {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  background-color: #56567dbe;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_congrat_active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  background-color: #141416c4;
  border-radius: 2px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_congrat_active .congratulation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f21c;
  font-size: 16px;
  margin: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_box_lose {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  background-color: #141416a4;
  border-radius: 2px;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_active_lose {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  background-color: #141416c6;
  border-radius: 2px;
  transition: all 0.3s ease 0.3s;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table_box .popup_active_lose .lose {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fb0606;
  font-size: 22px;
  margin: 0;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table {
  display: block;
  border: 4px solid #36d17c;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table tr td {
  width: 50px;
  height: 50px;
  background-color: #f8f8f8;
  color: #797878;
  text-align: center;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table td.active {
  background-color: #62e43a;
  color: #26262c;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table td.not_active {
  background-color: #e44e3a;
  color: #f8f8f8;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table td.pre_start {
  background-color: #f8f8f8;
  color: #f8f8f8;
}
body .container_games .wrapper .project_game_cell .game_cell_box .table td.disabled_cell {
  pointer-events: none;
  opacity: 0.5;
}
body .container_games .wrapper .footer_container {
  padding-top: 40px;
  margin-bottom: 40px;
}
body .container_games .wrapper .footer_container .block_links {
  display: flex;
  justify-content: space-around;
}
body .container_games .wrapper .footer_container .block_links .link_box_prev {
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .footer_container .block_links .link_box_prev a.link_pagination_prev {
  width: 112px;
  color: snow;
  font-size: 18px;
  padding: 6px 0 6px 8px;
  background-color: #56567d;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.3s ease 0.3s;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .block_links .link_box_prev a.link_pagination_prev:hover span.prev_page {
  color: #ef4f3a;
  padding-right: 6px;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .block_links .link_box_prev a.link_pagination_prev:active {
  color: #ef4f3a;
  font-size: 18px;
  padding: 6px 6px 6px 6px;
  background-color: #3b3b65;
  border: 1px solid #29292b;
  border-radius: 3px;
  transition: all 0.2s ease;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .block_links .link_box_prev a.link_pagination_prev:active span.arrow_left {
  color: #ef4f3a;
  padding-left: 0;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .block_links .link_box_prev span.arrow_left {
  transition: all 0.3s ease;
}
body .container_games .wrapper .footer_container .block_links .link_box_next {
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .footer_container .block_links .link_box_next a.link_pagination_next {
  width: 112px;
  color: snow;
  font-size: 18px;
  padding: 6px 0 6px 8px;
  background-color: #56567d;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.3s ease 0.3s;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .block_links .link_box_next a.link_pagination_next:hover span.arrow_rigth {
  color: #ef4f3a;
  padding-left: 6px;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .block_links .link_box_next a.link_pagination_next:active {
  color: #ef4f3a;
  font-size: 18px;
  padding: 6px 0 6px 8px;
  background-color: #3b3b65;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.2s ease;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .block_links .link_box_next a.link_pagination_next:active span.arrow_rigth {
  color: #ef4f3a;
  margin-left: 0;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .block_links .link_box_next span.arrow_rigth {
  transition: all 0.3s ease;
}
