body {
    background-color: #26262c;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
    
    .container_games {
        width: 100%;
        .wrapper {
            width: 80%;
            margin: 0 auto;

            .main_title_container {
                text-align: center;
            }
            .container_subtitle {
                text-align: center;
            }

            .projects_box {
                width: 100%;

            }

            .footer_container {
                margin-bottom: 40px;

                .link_box {
                    display: flex;
                    justify-content: center;

                    a.link_pagination {
                        color: snow;
                        font-size: 18px;
                        padding: 6px 8px 6px 8px;
                        background-color:#56567d;
                        border: 1px solid #90909b;
                        border-radius: 3px;
                        
                        transition: all 0.3s ease 0.3s;
                        text-decoration: none;
                    }
                    &:hover {
                        
                        span.next {
                            color: rgb(239, 79, 58);
                            padding-left: 6px; /* Дополнительный отступ для стрелки */
                        }
                    }

                    span.next {
                        transition: all 0.3s ease;
                    }
                    
                    a:active {
                        color: rgb(239, 79, 58);
                        font-size: 18px;
                        padding: 6px 6px 6px 6px;
                        background-color:#3b3b65;
                        border: 1px solid #90909b;
                        border-radius: 3px;

                        transition: all 0.2s ease;
                        text-decoration: none;  
                        
                        span.next {
                            color: rgb(239, 79, 58);
                            padding-left: 0; /* Дополнительный отступ для стрелки */
                        }
                    }

                    span.next {
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }

}