body {
  background-color: #26262c;
  padding: 0;
  margin: 0;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  box-sizing: border-box;
}
body .container_games {
  width: 100%;
}
body .container_games .wrapper {
  width: 80%;
  margin: 0 auto;
}
body .container_games .wrapper .main_title_container {
  text-align: center;
}
body .container_games .wrapper .container_subtitle {
  text-align: center;
}
body .container_games .wrapper .projects_box {
  width: 100%;
}
body .container_games .wrapper .footer_container {
  margin-bottom: 40px;
}
body .container_games .wrapper .footer_container .link_box {
  display: flex;
  justify-content: center;
}
body .container_games .wrapper .footer_container .link_box a.link_pagination {
  color: snow;
  font-size: 18px;
  padding: 6px 8px 6px 8px;
  background-color: #56567d;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.3s ease 0.3s;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .link_box:hover span.next {
  color: #ef4f3a;
  padding-left: 6px;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .link_box span.next {
  transition: all 0.3s ease;
}
body .container_games .wrapper .footer_container .link_box a:active {
  color: #ef4f3a;
  font-size: 18px;
  padding: 6px 6px 6px 6px;
  background-color: #3b3b65;
  border: 1px solid #90909b;
  border-radius: 3px;
  transition: all 0.2s ease;
  text-decoration: none;
}
body .container_games .wrapper .footer_container .link_box a:active span.next {
  color: #ef4f3a;
  padding-left: 0;
  /* Дополнительный отступ для стрелки */
}
body .container_games .wrapper .footer_container .link_box span.next {
  transition: all 0.3s ease;
}
